---
import Page from "../components/Page.astro";
---

<Page title="Sadie Bush's Portfolio">

  <div class="container">
    <h1 data-aos="flip-left"
     data-aos-easing="ease-out-cubic"
     data-aos-duration="2000">
      Sadie Bush's Portfolio
    </h1>
  </div>


<h2 data-aos="fade-up"
     data-aos-anchor-placement="top-bottom">
     ★About Me★</h2>
  <p>Hi! I'm Sadie Bush! I am a senior here at IACS. 
  This is a portfolio of all the projects I will complete 
  over the course of the year in AP Computer Science.</p>

  <h2 data-aos= "fade-up"
     data-aos-anchor-placement="top-bottom" > 
  ☆Project Menu☆</h2>
  <nav>
    <ul>
      <li>
        <a href="./projects/binary-search/"> 
          Binary Search Project 
        </a>
      </li>
      <!-- More projects to come soon! -->
    </ul>
  </nav>

</Page>

<div class="license">
    Sadies Portfolio © 2024 by Sadie Bush is licensed under CC BY-NC-ND 4.0 
  </div>
